# LaTeX
*.acn
*.aux
*.bbl
*.bcf
*.blg
*-blx.bib
*.fdb_latexmk
*.fls
*.glo
*.gz
*.out
*.ist
*.log
*.nav
*.snm
*.toc
*.vrb
*.xml
*.ilg
*.ind
*.64
*.idx
*.loalgorithm
*.lof
*.lol
*.lot

# Dissertation
dissertation/*.pdf
dissertation/imgs/*.pdf
dissertation/imgs/*.jpg
dissertation/imgs/*.png
dissertation/_minted-main/

# Presentation
presentation/*.pdf
presentation/*.png
presentation/*.jpg
presentation/imgs/*.pdf
presentation/imgs/*.png
presentation/imgs/*.jpg
presentation/_minted-main/

# Vim
*.swp
*.swo

# Folders
*.DS_Store
*.vscode
